@import "src/assets/scss/colors";

.Header {
  position: sticky;
  top: 74px;
  padding: 10px 0;
  background: $app-bg;
  opacity: 1;
  z-index: 5;

  .First {
    display: flex;
    flex-direction: column;

    .DropdownWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
      width: 100%;

      .OrganizationLabel {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 0 10px;
        height: 45px;
        background-color: $app-ts;
        z-index: 5;

        // fixme ellipsis not working
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ModifyButton {
      display: none;
    }

    .Additional {
      margin-top: 5px;

      .Separator {
        display: inline-block;
        width: 3px;
      }
    }
  }

  .Second {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .PaginationWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      min-width: 290px;

      .SelectorWrapper {
        margin-left: 10px;

        .Selector {
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          padding: 5px 20px;
          outline: none;
          text-align: center;
          background: transparent;
          color: white;

          /* for Firefox */
          -moz-appearance: none;
          /* for Safari, Chrome, Opera */
          -webkit-appearance: none;

          &::-ms-expand {
            display: none;
          }

          & > option {
            background: $app-bg;
            color: $app-white;
          }
        }
      }
    }

    .SearchInputWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .RefreshIcon {
        width: 23px;
        height: 23px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    top: 89px;

    .First {
      .DropdownWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        width: 600px;

        & > div:nth-child(2) {
          margin-top: 0;
        }
      }

      .Separator {
        width: 20px !important;
      }

      .ModifyButton {
        display: block;
      }
    }

    .Second {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 25px;

      .SearchInputWrapper {
        .RefreshIcon {
          display: none;
        }
      }

      .PaginationWrapper {
        margin-top: 10px;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .Header {
    .First {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: 25px;

      .Additional {
        margin-top: 0;
      }
    }
  }
}
