
.stripesBgTop {
    background-image: url('../../../assets/images/pad-top-stripes.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.stripesBgBottom {
    background-image: url('../../../assets/images/pad-bottom-stripes.svg');
    background-repeat: no-repeat;
    background-position: right center;
}