@import "src/assets/scss/colors";



.Wrapper {
  position: relative;
  padding: 30px 8px 8px 8px;

  .CloseIcon {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 20px;
    cursor: pointer;
  }

  .LeftCard {
    .UserActionCard {
      .UserCard {
        .UserMain {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-column-gap: 10px;
          height: 170px;

          .AvatarArea {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            height: 100%;

            .Avatar {
              width: 80px;
              height: 80px;
            }

            .LockIcon {
              position: absolute;
              top: 0;
              right: 5px;
              width: 16px;
              height: 16px;
            }
          }

          .NameDevice {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: hidden;
            height: 100%;

            .NameDeviceElement {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .Mac_Battery {
              display: flex;
              align-items: center;
            }
          }
        }

        .Divider {
          margin-top: 20px;
          height: 1px;
          background: $app-white;
          opacity: 0.25;
        }

        .InformationArea {
          .InformationEntity {
            margin-top: 10px;

            .StatusCell {
              display: grid;
              grid-template-columns: 10px 1fr;
              grid-column-gap: 20px;

              .BadgeWrapper {
                display: flex;
                align-items: center;

                .StatusBadge {
                  border-radius: 50%;
                  width: 10px;
                  height: 10px;

                  &.Red {
                    background-color: $app-status-at-risk;
                  }

                  &.Green {
                    background-color: $app-status-safe;
                  }

                  &.Yellow {
                    background-color: $app-status-sleep;
                  }

                  &.Off {
                    background-color: $app-status-off;
                  }
                }
              }
            }
          }
        }
      }

      .FirstRolesCard {
        display: none;
      }
    }

    .HeartRiskCard {
      .HeartCard {
        margin-top: 15px;

        .VeryLight {
          color: #0DAAEE;
        }

        .Light {
          color: #35EA6C;
        }

        .Moderate {
          color: #FFD600;
        }

        .High {
          color: #F1374E;
        }
      }

      .RiskCard {
        margin-top: 15px;

        .Safe {
          color: #35EA6C;
        }

        .AtRisk {
          color: #F1374E;
        }

        .ExtremeRisk {
          color: #F1374E;
        }
      }

      .InformationContent {
        display: flex;
        align-items: center;

        & > span {
          margin-left: 10px;
        }

        & > span:nth-child(1) {
          margin-left: 0;
        }

        .BlockIcon {
          margin-left: 10px;
          width: 25px;
        }
      }
    }
  }

  .RightCard {
    .AlertsCard {
      margin-top: 15px;

      .AlertCardContent {
        margin-top: 10px;
        max-height: 205px;
        overflow-y: auto;
      }

      .FilterArea {
        margin: 10px 0;

        .Dropdown {
          width: 250px;
        }
      }

      .MetricCardContent {
        margin-top: 5px;
        height: auto;
        overflow-y: auto;
      }
    }

    .ActivityRoleCard {
      .ActivityCard {
        margin-top: 0;
      }

      .SecondRoleCard {
        display: block;
      }
    }

    .ActivityRoleCard {
      display: flex;

      .DataRow {
        display: flex;
        margin-top: 8px;

        .DataLabel {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.HelperText {
  color: $app-ns;
}

.Card {
  padding: 25px;
  border-radius: 24px;
  background: $app-bg;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);

  .CardHeader {
    display: flex;
    align-items: center;
  }
}

.CardMetric {
  padding: 25px 25px 10px;
}

.Card_No_Back {
  padding: 25px;

  .CardHeader {
    display: flex;
    align-items: center;
  }
}

.FirstRolesCard, .SecondRoleCard {
  .Control {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    .ControlLabel {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    padding: 30px 20px 20px;

    .CloseIcon {
      top: 10px;
      right: 10px;
      width: 20px;
    }

    .LeftCard {
      .UserActionCard {
        .UserCard {
          .UserMain {
            grid-column-gap: 20px;

            .AvatarArea {
              .Avatar {
                width: 100px;
                height: 100px;
              }

              .LockIcon {
                position: absolute;
                top: -5px;
                right: 10px;
                width: 24px;
                height: 24px;
              }
            }
          }

          .InformationArea {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 32px;
          }
        }
      }
    }

    .RightCard {
      .AlertsCard {
        .MetricCardContent {
          height: 84px;
        }
      }

      .ActivityRoleCard {
        .SecondRoleCard {
          display: flex;
          justify-content: space-around;

          .Control {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    padding: 40px;

    .CloseIcon {
      top: 15px;
      right: 15px;
      width: 25px;
    }

    .LeftCard {
      .UserActionCard {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-column-gap: 10px;

        .FirstRolesCard {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
        }
      }

      .HeartRiskCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
      }
    }

    .RightCard {
      .AlertsCard {
        .CardTop {
          display: flex;
          justify-content: space-between;
        }

        .FilterArea {
          margin: 0;
        }
      }

      .ActivityRoleCard {
        .SecondRoleCard {
          display: none;
        }

        .ActivityCard {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .Modal {
    top: 50%;
    max-width: 1300px;
    transform: translate(-50%, -50%);
  }

  .Wrapper {
    display: grid;
    grid-template-columns: 407px 1fr;
    grid-column-gap: 40px;
    padding: 40px;

    .CloseIcon {
      top: 15px;
      right: 15px;
      width: 27px;
    }

    .LeftCard {
      .UserActionCard {
        display: block;

        .UserCard {
          .InformationArea {
            .InformationEntity {
              .Cell {
                width: 170px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .FirstRolesCard {
          display: none;
        }
      }
    }

    .RightCard {
      .AlertsCard {
        margin-top: 0;

        &.MetricsCard {
          margin-top: 15px;
        }

        .AlertCardContent {
          height: 205px;
        }
      }

      .ActivityRoleCard {
        display: flex;

        .SecondRoleCard {
          display: block;

          .Control {
            margin-top: 20px;
          }
        }
      }
    }
  }
}