.Wrapper {
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.Rounded {
  border-radius: 26px;
}

.XS {
  padding: 4px 25px;
}

.SM {
  padding: 10px 25px;
}

.MD {
  padding: 15px 30px;
}

.LG {

}