@import "src/assets/scss/colors";

.Popup {
  color: black;

  .UserInfo {
    display: flex;
    align-items: center;

    .Avatar {
      margin-right: 15px;
      width: 59px;
      height: 59px;
    }
  }
}

.Divider {
  margin-top: 8px;
  height: 1px;
  background: $app-divider;
}

.MenuItemWrapper {
  .MenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 0 10px;
    border-radius: 5px;
    color: $app-black;

    &.HighLight {
      background-color: $app-orange;
    }
  }
}

.MenuHeaderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: $app-gray;
}

.PopupContent {
  padding: 25px;
}