@import "colors";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content-wrapper {
  //position: relative;
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  align-items: center;
  min-width: 325px;

  .form-header-logo {
    width: 129px;
    height: 20px;
  }

  .form-header-text {
    font-family: Ubuntu-Medium;
    font-size: 16px;
    line-height: 32px;
  }
}

.form-main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: 100%;
}

.form > div {
  width: 325px;
}

.form-group {
  width: 325px;
}

.form-header-medium {
  width: 325px;
}

.rest-bar {
  margin: 25px 20px 0;
  width: calc(100% - 40px);
  height: 38px;
  border-radius: 50px;
  background: $app-tf;
}

.progress {
  height: 100%;
  background: linear-gradient(195.6deg, #FFD600 18.7%, #DE7D2C 106.02%);
  border-radius: 50px;
}

.progress.medical {
  background: linear-gradient(180deg, #27FFB1 0%, #00A9FD 100%);
}

.progress.progress-0 {
  width: 38px;
}

.progress.progress-9 {
  width: 9%;
}

.progress.progress-18 {
  width: 18%;
}

.progress.progress-27 {
  width: 27%;
}

.progress.progress-36 {
  width: 36%;
}

.progress.progress-45 {
  width: 45%;
}

.progress.progress-50 {
  width: 50%;
}

.progress.progress-54 {
  width: 54%;
}

.progress.progress-63 {
  width: 63%;
}

.progress.progress-72 {
  width: 72%;
}

.progress.progress-81 {
  width: 81%;
}

.progress.progress-90 {
  width: 90%;
}

.progress.progress-100 {
  width: 100%;
}

.input-time-tap {
  position: relative;

  .custom-radio {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.upload-photo-label {
  //height: 18px;
  display: inline-flex;
  padding: 15px 30px;
  border: 1px solid #DE7D2C;
  filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
}

.phone-stripes {
  display: none;
  //display: block;
  position: fixed;
  bottom: 0;

  img {
    position: absolute;
    bottom: 0;
    margin-left: calc((100vw - 375px) / 2);
  }
}

.pad-stripes, .medium-pad-stripes, .desktop-stripes {
  display: none;
}


.input-field {
  width: calc(325px - 44px);
}

.input-field-wrapper {
  width: 325px;
}

.grouped-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .form > div {
    width: auto;
  }

  .form-header {
    display: flex;
    align-items: center;

    .form-header-logo {
      width: 162px;
      height: 25px;
    }

    .form-header-text {
      font-family: Ubuntu-Medium;
      font-size: 27px;
      line-height: 41px;
    }
  }

  .form-main {
    margin-top: 73.45px;
    margin-left: 65px;
    display: block;
  }

  .form-group {
    width: 387px;
  }

  .form-header-medium {
    width: 450px;
  }

  .rest-bar {
    margin: 25px 40px 0;
    width: calc(100% - 80px);
    height: 45px;
    border-radius: 50px;
    background: $app-tf;
  }

  .progress {
    height: 100%;
    background: linear-gradient(272.83deg, #FFD600 2.3%, #DE7D2C 97.59%);
    border-radius: 50px;
  }

  .progress.progress-0 {
    width: 78px;
  }

  .medium-pad-stripes {
    display: block;
    position: absolute;
    right: 0;
    top: 215px;
    max-height: calc(100vh - 215px);
    overflow: hidden;
  }

  .pad-stripes, .desktop-stripes, .phone-stripes {
    display: none;
  }

  .input-field {
    width: calc(375px - 22px);
  }

  .input-field-wrapper {
    width: 397px;
  }
}

@media only screen and (min-width: 1024px) {
  .form-main {
    margin-top: 113px;
    margin-left: 105px;
  }

  .form-group {
    width: 500px;
  }

  .form-header-medium {
    width: 700px;
  }

  .progress {
    height: 100%;
    background: linear-gradient(272.83deg, #FFD600 2.3%, #DE7D2C 97.59%);
    border-radius: 50px;
  }

  .progress.progress-0 {
    width: 107px;
  }

  .pad-stripes {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 175px;
    right: 0;
    max-height: calc(100vh - 175px);
    overflow: hidden;
  }

  .pad-stripes > img:last-child {
    margin-top: 19.28px;
  }

  .desktop-stripes, .medium-pad-stripes, .phone-stripes {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .content-wrapper {
    position: relative;
    display: flex;
    margin-left: 170px;
  }

  .form-header {
    display: flex;
    align-items: center;
  }

  .form-main {
    margin-left: 110px;
    margin-top: 138px;
  }

  .form-group {
    position: relative;
    width: 500px;
    min-height: calc(100vh - 386px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*.form-group > div:last-child {
    position: absolute;
    bottom: 0;
  }*/
  // this is same with form, but I renamed it on inviting pages
  .form {
    position: relative;
    min-height: calc(100vh - 386px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*.form > div:last-child {
    position: absolute;
    bottom: 0;
  }*/

  .form-header-medium {
    width: 700px;
  }

  .rest-bar {
    margin: 106px 0;
    position: absolute;
    width: 45px;
    height: calc(100vh - 212px);
    border-radius: 50px;
    background: $app-tf;
  }

  .progress {
    position: absolute;
    bottom: 0;
    width: 45px !important;
    background: linear-gradient(195.6deg, #FFD600 18.7%, #DE7D2C 106.02%);
    border-radius: 50px;
  }

  .progress.progress-0 {
    height: 45px;
  }

  .progress.progress-9 {
    height: 9%;
  }

  .progress.progress-18 {
    height: 18%;
  }

  .progress.progress-27 {
    height: 27%;
  }

  .progress.progress-36 {
    height: 36%;
  }

  .progress.progress-45 {
    height: 45%;
  }

  .progress.progress-50 {
    height: 50%;
  }

  .progress.progress-54 {
    height: 54%;
  }

  .progress.progress-63 {
    height: 63%;
  }

  .progress.progress-72 {
    height: 72%;
  }

  .progress.progress-81 {
    height: 81%;
  }

  .progress.progress-90 {
    height: 90%;
  }

  .progress.progress-100 {
    height: 100%;
  }

  .desktop-stripes {
    display: block;
    position: absolute;
    right: 0;
    top: 160px;
    max-height: calc(100vh - 160px);
    overflow: hidden;
  }

  .pad-stripes, .medium-pad-stripes, .phone-stripes {
    display: none;
  }
}

.csv-input {
  display: none;
}