$app-bg: #212121;
$app-white: #FFFFFF;
$app-black: #000;
$app-tf: #2f2f2f;
$app-ts: #272727;
$app-ns: #979797;
$app-error-red: #FF92A4;
$app-orange: #DE7D2C;
$app-list-bg: #313131;
$app-divider: #E4E4E4;
$app-active-blue: #5BAEB6;
$app-gray: #7C7C7C;
$app-toggle-bg: #3f3f3f;
$app-approval-green: #35EA6C;
$app-active-blue: #5BAEB6;
$app-success: #35EA6C;
$app-danger: #F1374E;
$app-status-safe: #27FFB1;
$app-status-at-risk: #F44141;
$app-status-sleep: #FFF500;
$app-status-off: #6D6D6D;