$app-bg: #212121;
$app-white: #FFFFFF;
$app-black: #000;
$app-tf: #2f2f2f;
$app-ts: #272727;
$app-ns: #979797;
$app-error-red: #FF92A4;
$app-orange: #DE7D2C;
$app-active-blue: #5BAEB6;
$app-gray: #7C7C7C;
$app-toggle-bg: #3f3f3f;
