@import "colors";

.input {
  padding: 0 22px;
  border: none;
  border-radius: 10px;
  height: 54px;
  outline: none !important;
  background-color: $app-ts;
  z-index: 1;
}

.button {
  position: relative;
  border: none;
  border-radius: 10px;
  width: 325px;
  height: 48px;
  outline: none !important;
  cursor: pointer;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.button.active {
  background: $app-orange;
}

.button.inactive {
  background-color: $app-ns;
}

.button.cancel {
  background-color: $app-bg;
}

.tap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  width: 105px;
  height: 114px;
  background: $app-tf;
}

.tap.active {
  background: #DE7D2C;
}

.tap.disabled {
  opacity: 0.7;
}

.tap.border {
  border: 2px solid #FFFFFF;
}

.tap.active-transparent {
  border: 2px solid #FFFFFF;
}

.footer {
  position: relative;
  display: none;
}

.no-underline {
  text-decoration: none !important;
}

.no-outline {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #7C7C7C;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  width: 6px;
  height: 6px;
  background-color: #3b3a3a;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.desktop-no-visible {

}

@media only screen and (min-width: 768px) {
  .button {
    padding: 15px 30px;
    width: auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 5px 40px;
  }
}

@media only screen and (min-width: 1400px) {
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 40px 5px 0;
  }

  .desktop-no-visible {
    display: none;
  }
}