@import "colors";

// logout button
.dash-logout {
  position: absolute;
  top: 15px;
  right: 20px;
  bottom: auto;
  z-index: 1;

  .dash-logout-label {
    padding: 10px 13px;
    border: 1px solid white;
    border-radius: 10px;
    height: 19px;
    font-size: 14px !important;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
  }
}

// unit picker
.unit-picker {
  select {
    padding-left: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    outline: none;
    background: transparent;

    option {
      color: $app-white;
      background: $app-bg;
    }

    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }

  /* for IE10 */
  select::-ms-expand {
    display: none;
  }
}

.custom-radio {
  border-radius: 38px;
  width: 115px;
  height: 38px;
  background: #FFFFFF;
}

.custom-radio-option {
  border-radius: 38px;
  width: 55px;
  height: 32px;
  background: transparent;
  box-shadow: none;
}

.custom-radio-option span {
  color: $app-orange;
}

.custom-radio-option.active {
  background: #DE7D2C;
  box-shadow: 0 5px 15px rgba(255, 113, 0, 0.5);
}

.custom-radio-option.active span {
  color: $app-white;
}

// radio button

/* The radio container */
.radio-container {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  border: 2px $app-white solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $app-tf;
}

.checkmark.disabled {
  border: 2px $app-gray solid;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: $app-orange;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

// modal

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  background: $app-tf;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  z-index: 10;

  .close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 45px;
    height: 45px;
    background: url("../images/close.svg");
    background-size: cover;
    cursor: pointer;
    z-index: 20;
  }

  .close-icon-sm {
    width: 32px;
    height: 32px;
  }

  .modal-body {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;

    .input-group {
      display: flex;
      flex-direction: column;

      .modal-input {
        width: calc(529px - 44px);
        max-width: calc(529px - 44px);
        min-width: calc(529px - 44px);
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 100;
  background: gray;
}

//checkbox
/* The container */
.checkbox-container {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: $app-orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  top: 2px;
  left: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//date picker z index
.react-datepicker-popper {
  z-index: 2 !important;
}

//timezone picker
.timezone-picker-textfield {
  border-radius: 10px;
  border: none;
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 21px;
  line-height: 24.13px;
  background-color: $app-ts;
  outline: none !important;
  z-index: 1;
}

.timezone-picker-list {
  background-color: white;
  color: $app-bg;
}

@media only screen and (min-width: 768px) {
  .dash-logout {
    position: absolute;
    top: auto;
    right: 20px;
    bottom: 40px;
    z-index: 1;

    .dash-logout-label {
      padding: 17px 20px;
      border: 1px solid white;
      height: 19px;
      filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
      border-radius: 10px;
      font-size: 16px;
    }
  }
}
@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1400px) {
  .modal {
    .modal-body {
      max-width: initial;
      overflow-x: visible;
    }
  }

  .dash-logout {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
  }
}