@import "colors";

.dashboard-header {
  position: relative;
  padding: 25px 40px;

  .dashboard-logo {
    width: 160px;
    height: 25px;
  }

  .settings-icon {
    position: absolute;
    top: 25px;
    right: 80px;
    width: 35px;
    height: 35px;
  }

  .timer-icon {
    position: absolute;
    top: 25px;
    right: 120px;
    display: none;
    width: 35px;
    height: 35px;
  }

  .search-wrapper {
    position: absolute;
    top: 25px;
    right: 150px;
    display: none;

    .search-content {
      position: relative;
      display: inline-block;

      .search-icon {
        position: absolute;
        top: 10px;
        left: 16px;
      }

      .search-user-input {
        border: none;
        border-radius: 10px;
        padding: 10px 10px 10px 50px;
        width: 215px;
        height: 20px;
        background: $app-ts;
        outline: none;
        color: $app-white;
      }

      .search-user-input::placeholder {
        color: $app-ns;
      }
    }
  }
}

// way of add modal
.add-way-modal-header {
  font-family: Ubuntu-Regular;
  font-size: 21px;
  line-height: 24.13px;
}

.tap-area {
  width: 450px;
}

// add team members modal
.add-member-modal {
  padding: 40px;
  max-width: calc(100% - 180px);
}

.team-mates {
  position: relative;

  .team-mate-wrapper {
    flex-direction: column;
    max-width: 375px;

    .select-custom-class {
      width: auto;
    }
  }

  .team-mate-wrapper > div {
    margin-top: 20px;
    margin-left: 0;
  }

  .team-mate-wrapper .input {
    width: auto;
  }

  .team-mate-wrapper > div > label {
    display: inline;
  }
}

.team-representative-wrapper {
  max-width: 375px;
}

@media only screen and (min-width: 1024px) {
  .tap-area {
    width: 628px;
  }

  .add-way-modal-header {
    font-family: Ubuntu-Regular;
    font-size: 34px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 1400px) {
  .dashboard-header {
    .search-wrapper {
      display: block;
    }

    .timer-icon {
      display: block;
    }
  }

  .team-mates {
    max-height: 400px;
    overflow-y: auto;

    .team-mate-wrapper {
      flex-direction: row;

      .select-custom-class {
        width: 200px;
      }
    }

    .team-mate-wrapper .input {
      width: 145px;
    }

    .team-mate-wrapper .input.email {
      width: 160px;
    }

    .team-mate-wrapper > div {
      margin-top: 0;
      margin-left: 20px;
    }

    .team-mate-wrapper > div:first-child {
      margin-left: 0;
    }

    .team-mate-wrapper > div > label {
      display: none;
    }

    .team-mate-wrapper:nth-child(1) > div > .font-input-label {
      display: inline;
    }
  }

  .add-member-modal {
    padding: 65px 65px 40px 65px;
    max-width: calc(100% - 180px);
  }
}