@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.svg");
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../fonts/Ubuntu-Medium.woff') format('woff'),
  url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
  url('../fonts/Ubuntu-Medium.svg#ralewaybold') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu-Regular.svg");
  src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
  url('../fonts/Ubuntu-Regular.woff') format('woff'),
  url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
  url('../fonts/Ubuntu-Regular.svg#ralewaybold') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu-Bold.svg");
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
  url('../fonts/Ubuntu-Bold.woff') format('woff'),
  url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
  url('../fonts/Ubuntu-Bold.svg#ralewaybold') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  src: url("../fonts/Ubuntu-MediumItalic.svg");
  src: url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
  url('../fonts/Ubuntu-MediumItalic.woff') format('woff'),
  url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype'),
  url('../fonts/Ubuntu-MediumItalic.svg#ralewaybold') format('svg');
}