@import "../../../../assets/scss/colors";

.chart_body {
  overflow-x: auto;
  margin-bottom: 30px;
  min-height: 600px;

  .flex_space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .txt_label {
    padding-left: 10px;
    transform: rotate(180deg);
    writing-mode: tb-rl;
  }

  .txt_label,
  .txt_18 {
    font-size: 18px;
  }

  .doughnut_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    margin: 55px auto 0;
    width: 1100px;

    .txt_center {
      text-align: center;
    }

    & > div {
      margin: 0 auto 20px;
      width: 100%;
      max-width: 80%;

      .legend_box_body {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 50px;

        .legend_flex {
          display: flex;
          justify-content: left;
          align-content: center;

          .legend_box_item {
            margin-left: 10px;
            border: 1px solid #fff;
            width: 20px;
            height: 20px;
          }

          .legend_box_txt {
            padding-left: 10px;
            font-size: 16px;
          }
        }

        @media screen and (max-width: 1200px) {
          margin-bottom: 30px;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;

      & > div {
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
      }
    }
  }

  .bar_body {
    overflow: auto;
    overflow-y: hidden;
    margin: 58px auto 0;
    width: 900px;
    font-family: Ubuntu-Medium, sans-serif;

    .txt_center {
      text-align: center;
    }

    .txt_week {
      font-size: 18px;
    }

    .txt_center {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .bar_canvas {
      width: calc(100% - 30px);
    }
  }

  .line_body {
    margin: 60px auto 0;
    width: 1000px;

    .txt_center {
      text-align: center;
    }

    .line_flex {
      display: flex;
      justify-content: left;
      align-items: center;

      .select_mw {
        width: 300px;
      }
    }
  }

  .highest_cbt_body {
    margin: 58px auto 0;
    width: 1200px;
    font-family: Ubuntu-Medium, sans-serif;

    .txt_center {
      text-align: center;
    }

    .cbt_chart_w_30 {
      width: 30px;
    }

    .cbt_chart_w_remain {
      position: relative;
      width: 100%;
      max-width: calc(100% - 30px);

      .cbt_empty_data {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-20%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        color: $app-black;
      }
    }

    .day_item_body {
      height: 70px;

      .day_txt {
        padding-right: 10px;
        width: 70px;
        text-align: right;
      }

      .day_time_grid16 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        max-width: calc(100% - 70px);

        .div_rect {
          border-right: 1px solid $app-white;
          border-bottom: 1px solid $app-white;
          width: 69px;
          height: 69px;

          &.rect_hover:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }

      .time_label {
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        writing-mode: tb-rl;
        font-size: 14px;
        width: 70px;
        height: 80px;
      }
    }

    .justify_center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
    }

    .progress_bar_container {
      width: 500px;
      height: 20px;
      position: relative;

      .point99,
      .point100,
      .point101,
      .txt_point99,
      .txt_point100,
      .txt_point101 {
        position: absolute;
      }

      .point99,
      .point100,
      .point101 {
        top: 0;
        width: 1px;
        height: 20px;
        background-color: $app-white;
      }

      .txt_point99,
      .txt_point100,
      .txt_point101 {
        top: 28px;
        font-size: 13px;
      }

      .point99 {
        left: calc(500px/6.6);
      }

      .txt_point99 {
        left: calc(500px/6.6 - 8px);
      }

      .point100 {
        left: calc(500px/6.6 * 3);
      }

      .txt_point100 {
        left: calc(500px/6.6 * 3 - 12px);
      }

      .point101 {
        left: calc(500px/6.6 * 5);
      }

      .txt_point101 {
        left: calc(500px/6.6 * 5 - 12px);
      }
    }

    .progress_bar_child {
      width: 100%;
      height: 100%;
    }

    .progress {
      color: white;
      text-align: center;
      animation-direction: reverse;
      background: #ffff00;

      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, $app-chart-yellow 0%, $app-chart-red 85%);
    }
  }
}

@keyframes timelapse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.empty_height {
  height: 581px;

  @media screen and (max-width: 768px) {
    height: 50px;
  }
}