.Wrapper {
  overflow-x: auto;
  .InnerWrapper {
    display: block;
    margin-top: 20px;
    overflow-y: auto;

    .TableWrapper {
      display: inline-block;
      overflow-x: auto;
      max-width: 100%;
      max-height: calc(100vh - 250px);

      .Table {
        border-spacing: 0;
        border-collapse: separate;
      }
    }
  }

  .StatsSelectWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .ExportWrapper {
      display: flex;
      margin-top: 10px;

      & > div {
        width: 135px;
      }

      & > img {
        margin-left: 10px;
        width: 30px;
        cursor: pointer;

        &.Disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  .EmptyHeight {
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    .InnerWrapper {
      margin-top: 0;
    }
    .EmptyHeight {
      height: 581px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    .StatsSelectWrapper {
      margin-top: 10px;
      display: grid;
      grid-template-columns: auto 300px 1fr;
      grid-column-gap: 20px;

      .ExportWrapper {
        margin-top: 0;
      }
    }
  }
}
