.Wrapper {
  overflow-x: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  .WrapperTableChart {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-column-gap: 50px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .WrapperTbl {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding-right: 10px;
  }

  .InnerWrapper,
  .CenterWrapper {
    margin-top: 20px;
    overflow-y: auto;

    .TableWrapper {
      display: inline-block;
      overflow-x: auto;
      max-width: 100%;
      max-height: calc(100vh - 250px);

      .Table {
        border-spacing: 0;
        border-collapse: separate;
      }
    }
  }

  .InnerWrapper {
    display: block;
  }

  .CenterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .StatsSelectWrapper {
    display: flex;
    margin-top: 10px;

    div:nth-child(1) {
      margin-right: 10px;
      width: fit-content;
    }

    .ExportWrapper {
      display: flex;

      & > div {
        width: 160px;
      }

      & > img {
        margin-left: 10px;
        width: 30px;
        cursor: pointer;

        &.Disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  .EmptyHeight {
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    .InnerWrapper,
    .CenterWrapper {
      margin-top: 0;
    }

    .EmptyHeight {
      height: 581px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .Wrapper {
    .StatsSelectWrapper {
      display: block;

      div:nth-child(1) {
        margin-right: 0;
      }

      .ExportWrapper {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .Wrapper {
    .WrapperTableChart {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
      padding-right: 10px;
    }

    .InnerWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
