@import "src/assets/scss/colors";

.Header {
  position: sticky;
  top: 0;
  z-index: 3;
}

.HeaderCell {
  padding: 5px 10px;
  border: 1px solid $app-bg;
  text-align: center;
  white-space: nowrap;
  background: $app-list-bg;
  font-size: 18px;
  line-height: 20.13px;

  &.FirstColumn {
    position: sticky;
    top: auto;
    left: 0;
  }

  .ChevronWrapper {
    display: inline-flex;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer;

    .ChevronIcon {
      width: 12px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .HeaderCell {
    font-size: 21px;
    line-height: 24.13px;
  }
}