@import "src/assets/scss/colors";

.Cell {
  background: $app-list-bg;
  text-align: center;
  border: 1px solid $app-bg;
  height: 45px;
  padding: 0 5px;

  font-size: 14px;
  line-height: 21px;

  &.FirstColumn {
    position: sticky;
    left: 0;
    top: auto;
    //border-top-width: 1px;
  }
}

@media only screen and (min-width: 768px) {
  .Cell {
    font-size: 16px;
    line-height: 24px;
  }
}