@import "src/assets/scss/colors";

.Header {
  position: sticky;
  top: 5px;
  background: $app-bg;
  opacity: 1;
  z-index: 5;
  padding: 10px 0;

  .Second {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .PaginationWrapper {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .SelectorWrapper {
        margin-left: 10px;
        .Selector {
          background: transparent;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          outline: none;
          padding: 5px 20px;
          color: white;
          text-align: center;

          /* for Firefox */
          -moz-appearance: none;
          /* for Safari, Chrome, Opera */
          -webkit-appearance: none;

          &::-ms-expand {
            display: none;
          }

          & > option {
            color: $app-white;
            background: $app-bg;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    .Second {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 25px;

      .PaginationWrapper {
        margin-top: 10px;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .Header {
    .First {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: 25px;
    }
  }
}
