@import "src/assets/scss/colors";

.Container {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover .Checkbox ~ .CheckMark {
    //background-color: #ccc;
  }

  .Checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .Checkbox:checked ~ .CheckMark {
    background-color: $app-orange;
  }

  .Checkbox:checked ~ .CheckMark:after {
    display: block;
  }

  .CheckMark {
    position: absolute;
    top: 50%;
    left: 0;
    //background-color: #eee;
    border: 2px #eee solid;
    transform: translateY(-50%);

    &.MD {
      height: 12px;
      width: 12px;
    }

    &.SM {
      height: 8px;
      width: 8px;
    }
  }

  .CheckMark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .CheckMark:after {
    left: 2px;
    top: 0;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .CheckMark.MD:after {
    width: 4px;
    height: 7px;
  }

  .CheckMark.SM:after {
    width: 3px;
    height: 4px;
  }
}