@import "../../../assets/scss/colors";

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Skip {
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    z-index: 1;
  }
}

.DisabledInput {
  border: 1px solid $app-ts;
  background-color: $app-tf;
}

@media only screen and (min-width: 768px) {
  .Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .Skip {
      margin-left: 76px;
    }
  }
}