@import "../../../assets/scss/colors";

.FormHeader {
  position: sticky;
  top: 0;
  padding: 20px 14px 20px 0;
  width: 100%;
  max-width: 924px;
  z-index: 30;
  background: $app-bg;

  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -10px;

    .Title {
      display: none;
    }

    .NoteWrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 15px;

      .ChangeNote {
        display: inline-block;
        margin-top: 5px;
        z-index: 2;

        font-family: Ubuntu-Medium, sans-serif;
        font-size: 21px;
        line-height: 24.13px;
      }

      .SaveIconWrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .Tools {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;

    .SearchWrapper {
      position: relative;
      max-width: 450px;

      .SearchIcon {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(calc(-50% + 6px));
      }

      .SearchInput {
        padding: 0 22px 0 45px;
        width: calc(100% - 67px);
        font-family: Ubuntu-Regular, sans-serif;
        font-size: 16px;
        line-height: 18.38px;
      }
    }

    .SubmitWrapper {
      display: none;
    }

    .AddIconWrapper {
      display: flex;
      align-items: center;

      .AddIcon {
        width: 25px;
        cursor: pointer;
      }
    }
  }

  .AddButton {
    display: none;
  }
}

.FormBody {
  margin-bottom: 50px;
  padding-right: 14px;
  width: 100%;
  max-width: 924px;
  height: auto;
  overflow-y: unset;
  z-index: 1;

  .User {
    position: relative;
    margin-top: 40px;
    border-radius: 6px;
    padding: 10px;
    background: #313131;

    .RemoveIconWrapper {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .UserRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > div {
        margin-top: 10px;
      }

      .Input {
        width: calc(100% - 45px);
      }

      .DisabledInput {
        border: 1px solid $app-ts;
        background-color: $app-tf;
      }

      .Select {
        width: 100%;
      }

      .GroupWrapper {
        display: flex;
        flex-direction: column;

        .ButtonWrapper {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
      }

      .PhoneNumberContainer {
        margin-top: 10px;
        border: none;
        width: 100%;
        height: 50px;
      }

      .PhoneNumberInput {
        border: none;
        height: 50px;
        font-size: 21px;
        line-height: 24.13px;
        font-family: Ubuntu-Regular, sans-serif;
        background-color: $app-ts;
        color: $app-white;
      }

      .PhoneNumberDropdown {
        background-color: white;
        color: black;
      }
    }
  }
}

.Mt40 {
  margin-top: 40px;
}

.Ml27 {
  margin-left: 28px;
}

.Mt20 {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {

  .FormHeader {
    width: calc(100vw - 130px);

    .Header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 40px;
      margin-top: -10px;

      .Title {
        display: flex;
      }

      .NoteWrapper {
        padding-right: 0;

        .ChangeNote {
          font-size: 27px;
          line-height: 41px;
        }

        .SaveIconWrapper {
          display: none;
        }
      }
    }

    .Tools {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 40px;

      .SearchWrapper {
        width: 100%;

        .SearchInput {
          font-size: 21px;
          line-height: 24.13px;
        }
      }

      .SubmitWrapper {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
      }

      .AddIconWrapper {
        display: none;
      }
    }

    .AddButton {
      display: flex;
      justify-content: center;
      border: 1px solid #DE7D2C;
      border-radius: 24px;
      padding: 36px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      background-color: $app-bg;
      z-index: 1;

      .PlusIcon {
        margin-right: 24px;
      }
    }
  }

  .FormBody {
    width: calc(100vw - 130px);

    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .UserRow {
        .GroupWrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 40px;

          .Select {
            width: 100%;
          }

          .ButtonWrapper {
            margin-top: 0;
          }
        }
      }

      & > .UserRow:first-child > div:first-child {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .FormHeader {
    width: calc(100vw - 210px);
  }

  .FormBody {

    .User {
      border-radius: 12px;
      padding: 20px;

      .RemoveIconWrapper {
        top: 20px;
        right: 20px;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(350px - 22px);
        }

        .GroupWrapper {
          width: 50%;
          max-width: 370px;
        }

        .Select {
          width: 372px;
        }
      }

      & > .UserRow:first-child > div {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .FormHeader {
    width: 910px;
  }

  .FormBody {
    width: 910px;

    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(375px - 22px);
        }

        .GroupWrapper {
          width: 50%;
          max-width: 397px;
        }

        .Select {
          width: 397px;
        }
      }
    }
  }
}