@import "../../../assets/scss/colors";

.FormHeader {
  width: 100%;
  max-width: 924px;
  padding-right: 14px;
  z-index: 1;

  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -10px;

    .ChangeNote {
      display: inline-block;
      margin-top: 5px;
      z-index: 2;
    }
  }

  .SearchWrapper {
    position: relative;
    max-width: 450px;

    .SearchIcon {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(calc(-50% + 6px));
    }

    .SearchInput {
      padding: 0 22px 0 45px;
      width: calc(100% - 67px);
    }
  }
}

.FormBody {
  width: 100%;
  max-width: 924px;
  padding-right: 14px;
  height: auto;
  overflow-y: unset;
  z-index: 1;
  margin-bottom: 50px;

  .AddButton {
    display: flex;
    justify-content: center;
    border: 1px solid #DE7D2C;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 36px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    background-color: $app-bg;

    .PlusIcon {
      margin-right: 24px;
    }
  }

  .User {
    background: #313131;
    border-radius: 6px;
    padding: 10px;
    margin-top: 40px;
    position: relative;

    .RemoveIconWrapper {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .UserRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > div {
        margin-top: 10px;
      }

      .Input {
        width: calc(100% - 45px);
      }

      .DisabledInput {
        border: 1px solid $app-ts;
        background-color: $app-tf;
      }

      .Select {
        width: 100%;
      }
    }

    .UserRow.ButtonRow {
      justify-content: flex-end;

      .ButtonWrapper {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.Mt40 {
  margin-top: 40px;
}

.Ml27 {
  margin-left: 28px;
}

.Mt20 {
  margin-top: 20px;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .Reupload {
    position: relative;
    margin: 10px 0;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .FormHeader {
    width: calc(100vw - 130px);

    .Header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 40px;
      margin-top: -10px;
    }

    .SearchWrapper {
      width: 100%;
    }
  }

  .FormBody {
    width: calc(100vw - 130px);

    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .UserRow {
      }

      & > .UserRow:first-child > div:first-child {
        margin-top: 0;
      }
    }
  }

  .Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .Reupload {
      margin-left: 76px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .FormHeader {
    width: calc(100vw - 210px);
  }

  .FormBody {

    .User {
      border-radius: 12px;
      padding: 20px;

      .RemoveIconWrapper {
        top: 20px;
        right: 20px;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(350px - 22px);
        }

        .Select {
          width: 372px;
        }
      }

      & > .UserRow:first-child > div {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .FormHeader {
    width: 910px;
  }

  .FormBody {
    width: 910px;
    height: 500px;
    overflow-y: auto;

    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(375px - 22px);
        }

        .Select {
          width: 397px;
        }
      }
    }
  }
}