@import "../../../assets/scss/colors";

.User {
  position: relative;
  margin-top: 40px;
  border-radius: 6px;
  padding: 10px;
  background: #313131;

  .RemoveIconWrapper,
  .LockIconWrapper {
    position: absolute;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .RemoveIconWrapper {
    right: 10px;
  }

  .LockIconWrapper {
    right: 40px;

    .LockIcon {
      margin-top: 1px;
      width: 18px;
    }
  }

  .UserRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      margin-top: 10px;
    }

    .Input,
    .InputHalf {
      width: calc(100% - 45px);
    }

    .PhoneWrapper,
    .Select {
      width: 100%;
    }

    .DisabledInput {
      border: 1px solid $app-ts;
      background-color: $app-tf;
    }

    .GroupWrapper {
      display: flex;
      flex-direction: column;

      .WearingLabelWrapper {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ButtonWrapper {
        display: flex;
        justify-content: flex-end;
      }

      .ButtonWrapper,
      .PhoneNumberContainer,
      & > div:last-child {
        margin-top: 10px;
      }
    }

    .PhoneNumberContainer {
      border: none;
      width: 100%;
      height: 50px;
    }

    .PhoneNumberInput {
      border: none;
      height: 50px;
      font-size: 21px;
      line-height: 24.13px;
      font-family: Ubuntu-Regular, sans-serif;
      background-color: $app-ts;
      color: $app-white;
    }

    .PhoneNumberDropdown {
      background-color: white;
      color: black;
    }
  }
}

@media only screen and (min-width: 768px) {
  .User {
    border-radius: 24px;
    padding: 40px;

    .RemoveIconWrapper,
    .LockIconWrapper {
      top: 20px;
    }

    .RemoveIconWrapper {
      right: 40px;
    }

    .LockIconWrapper {
      right: 70px;
    }

    .UserRow {
      .GroupWrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-column-gap: 40px;

        & > div:last-child {
          margin-top: 0;
        }

        .PhoneWrapper,
        .Select {
          width: 100%;
        }
      }
    }

    & > .UserRow:first-child > div:first-child {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .User {
    border-radius: 12px;
    padding: 20px;

    .RemoveIconWrapper,
    .LockIconWrapper {
      top: 20px;
    }

    .RemoveIconWrapper {
      right: 20px;
    }

    .LockIconWrapper {
      right: 50px;
    }

    .UserRow {
      flex-direction: row;

      .Input {
        width: calc(350px - 22px);
      }

      .GroupWrapper {
        width: 50%;
        max-width: 370px;
      }

      .PhoneWrapper,
      .Select {
        width: 372px;
      }
    }

    & > .UserRow:first-child > div {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .User {
    border-radius: 24px;
    padding: 40px;

    .RemoveIconWrapper,
    .LockIconWrapper {
      top: 20px;
    }

    .RemoveIconWrapper {
      right: 40px;
    }

    .LockIconWrapper {
      right: 70px;
    }

    .UserRow {
      flex-direction: row;

      .Input {
        width: calc(375px - 22px);
      }

      .GroupWrapper {
        width: 50%;
        max-width: 397px;
      }

      .PhoneWrapper,
      .Select {
        width: 397px;
      }
    }
  }
}
