@import "src/assets/scss/colors";

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(2px);
  z-index: 100;
  overflow: auto;
  overflow-y: hidden;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  background: #313131;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  outline: none;
  width: calc(100% - 30px);
  max-width: 800px;
  border-radius: 6px;

  .Wrapper {
    position: relative;
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .RemoveIconWrapper {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .Header {
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 50px;
    }

    .User {
      background: #313131;

      .UserRow {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > div {
          margin-top: 10px;
        }

        .Input {
          width: calc(100% - 45px);
          font-size: 15px;
        }
      }
    }
  }

  .Footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .Modal {
    border-radius: 24px;

    .Wrapper {
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .User {
        .UserRow {
          .Input {
            width: calc(450px - 22px);
            font-size: 21px;
          }
        }

        & > .UserRow:first-child > div:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Modal {
    border-radius: 12px;

    .Wrapper {
      padding: 20px;

      .RemoveIconWrapper {
        top: 20px;
        right: 20px;
      }

      .User {
        .UserRow {
          flex-direction: row;

          .Input {
            width: calc(450px - 22px);
          }
        }
        & > .UserRow:first-child > div {
          margin-top: 0;
        }
      }

    }
  }
}

@media only screen and (min-width: 1400px) {
  .Modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    max-width: 900px;

    .Wrapper {
      padding: 40px;

      .RemoveIconWrapper {
        top: 20px;
        right: 40px;
      }

      .User {
        .UserRow {
          flex-direction: row;

          .Input {
            width: calc(475px - 22px);
          }
        }
      }
    }
  }
}