@import "src/assets/scss/colors";

.Wrapper {
  display: inline-flex;
  background: $app-ts;
  padding: 8px 10px 8px 16px;
  border-radius: 5px;
  align-items: center;
  width: 262px;
  max-width: calc(100% - 26px);

  .SearchIcon {
    width: 16px;
    height: 16px;
  }

  .ClearIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .Input {
    background: $app-ts;
    color: white;
    outline: none;
    border: none;
    font-size: 21px;
    line-height: 24.13px;
    margin-left: 10px;
    width: calc(100% - 32px);
  }
}