@import "src/assets/scss/colors";

.Popup {
  color: black;

  .UserInfo {
    display: flex;
    align-items: center;

    .Avatar {
      width: 59px;
      height: 59px;
      margin-right: 15px;
    }
  }
}

.Divider {
  height: 1px;
  background: $app-divider;
  margin-top: 18px;
}

.MenuItem {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.VersionWrapper {
  text-align: right;
}

.PopupContent {
  padding: 25px;
}