@import "src/assets/scss/colors";

.DataRow {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 8px;

  .DataLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .Padding {
    display: inline-block;
    padding: 0 15px;
  }

  .Rounded {
    display: inline-flex;
    background-color: $app-ts;
    padding: 8px 15px;
    border-radius: 10px;

    .HeartCBTSpan {
      width: 31px;
      text-align: center;
    }
  }

  & > div {
    margin-bottom: 8px;
  }
}

.Header {
  display: none;
}

.HideSM {
  display: none;
}

@media only screen and (min-width: 768px) {
  .DataRow {
    display: grid;
    grid-template-columns: 1fr 150px 200px;
    margin-top: 8px;
  }

  .Header {
    display: grid;
  }

  .MobileOnly {
    display: none;
  }

  .HideSM {
    display: block;
  }
}
