@import "src/assets/scss/colors";

.DataRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;

  .DataBoxBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;

    .DataBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      border-radius: 8px;
      width: 60px;
      height: 40px;
      background-color: #272727;
      color: $app-white;
    }

    .Padding {
      display: inline-block;
      padding: 0 25px;
    }
  }
}

.Header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .DataRow {
    display: flex;
    margin-top: 0;
  }

  .Header {
    display: grid;
  }
}

@media only screen and (max-width: 480px) {
  .DataRow {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
  }
}
