@import "../../../assets/scss/colors";

.LangPicker {
  position: relative;
  height: 55px;
  z-index: 99;

  select {
    padding: 0 10px 0 45px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 55px;
    outline: none;
    background: transparent;
    text-align: center;

    option {
      color: $app-white;
      background: $app-bg;
    }

    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }

  /* for IE10 */
  select::-ms-expand {
    display: none;
  }

  .Img {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: -1;
  }
}