@import "../../../assets/scss/colors";

.CardWrapper {
  position: absolute;
  width: 100%;
  background-color: $app-white;
  color: black;
  z-index: 2;

  .List {
    margin: 0;
    padding: 0;

    .Item {
      padding: 10px;
      cursor: pointer;
      list-style: none;

      &:hover {
        background-color: $app-active-blue;
      }

      &.Highlight {
        background-color: $app-orange;
      }
    }
  }
}