@import "src/assets/scss/colors";

.Wrapper {
  .Header {
    padding: 0 15px;
  }

  .Body {
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;

    .Item {
      border-radius: 10px;
      padding: 10px 15px;
      cursor: pointer;
    }

    .Item:hover {
      background: $app-tf;
    }
  }
}