.Head {
  text-align: right;
}

.HeadLeft {
  text-align: left;
}

.ContentWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15px;
  padding: 20px 0;
  height: calc(100vh - 386px);

  &.OverflowYHidden {
    overflow-y: hidden;
  }

  &.OverflowYAuto {
    overflow-y: auto;
  }
}

.CancelBtn {
  margin-top: 15px;
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .CancelBtn {
    margin-top: 0;
    margin-left: 15px;
  }
}