.Head {
  text-align: right;
}

.HeadLeft {
  text-align: left;
}

.ContentWrapper {
  height: calc(100vh - 386px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 0;
  margin-top: 15px;
}

.CancelBtn {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .CancelBtn {
    margin-left: 15px;
  }
}