.Wrapper {
  position: fixed;
  top: 200px;
  width: calc(100% - 40px);
}

.StatisticsWrapper {
}

.WorkRestBarWrapper {
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    top: 220px;
  }
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    top: 170px;
    width: calc(100% - 50px);
  }
}

@media only screen and (min-width: 1400px) {
  .Wrapper {
    width: calc(100% - 80px);
  }
}