@import "src/assets/scss/colors";

.FormHeader {
  position: sticky;
  top: 0;
  padding: 20px 14px 20px 0;
  width: 100%;
  max-width: 924px;
  background: $app-bg;
  z-index: 30;

  .Header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -10px;

    .Title {
      display: none;
    }

    .ChangeNote {
      display: inline-block;
      margin-top: 5px;
      z-index: 2;

      font-family: Ubuntu-Medium, sans-serif;
      font-size: 21px;
      line-height: 24.13px;
    }
  }

  .Tools {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .ReUploadWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .ReUpload {
        position: relative;
        cursor: pointer;
        opacity: 1;
        z-index: 1;
      }
    }

    .ButtonWrapper {
      display: none;
    }

    .LabelWrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .AddButton {
    display: none;
  }
}

.FormBody {
  margin-bottom: 50px;
  padding-right: 14px;
  width: 100%;
  max-width: 924px;
  height: auto;
  overflow-y: unset;
  z-index: 1;

  .User {
    position: relative;
    margin-top: 40px;
    border-radius: 6px;
    padding: 10px;
    background: #313131;

    .RemoveIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .UserRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > div {
        margin-top: 10px;
      }

      .SelectWrapper {
        display: flex;
        flex-direction: column;

        & > div:last-child {
          margin-top: 10px;
        }

        .Select {
          width: 100%;
        }

        .PermissionSelect {
          margin-left: 0;
        }
      }

      .Input {
        width: calc(100% - 45px);
      }

      .PhoneNumberContainer,
      .PhoneNumberInput {
        border: none;
        height: 50px;
      }

      .PhoneNumberContainer {
        margin-top: 10px;
        width: 100%;
      }

      .PhoneNumberInput {
        font-size: 21px;
        line-height: 24.13px;
        font-family: Ubuntu-Regular, sans-serif;
        background-color: $app-ts;
        color: $app-white;
      }

      .PhoneNumberDropdown {
        background-color: white;
        color: black;
      }
    }
  }
}

.Mt40 {
  margin-top: 40px;
}

.Ml27 {
  margin-left: 28px;
}

.Mt20 {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .FormHeader {
    width: calc(100vw - 130px);

    .Header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 40px;
      margin-top: -10px;

      .Title {
        display: flex;
      }

      .ChangeNote {
        font-size: 27px;
        line-height: 41px;
      }
    }

    .Tools {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 40px;

      .ReUploadWrapper {
        margin-bottom: 0;
      }

      .ButtonWrapper {
        display: block;

        .CancelBtn {
          margin-top: 0;
          margin-left: 15px;
        }
      }

      .LabelWrapper {
        display: none;
      }
    }

    .AddButton {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      border: 1px solid #DE7D2C;
      box-sizing: border-box;
      border-radius: 24px;
      padding: 36px;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      background-color: $app-bg;

      .PlusIcon {
        margin-right: 24px;
      }
    }
  }

  .FormBody {
    width: calc(100vw - 130px);

    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIcon {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
      }

      .UserRow {
        .SelectWrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 40px;

          & > div:last-child {
            margin-top: 0;
          }

          .Select {
            width: 100%;
          }
        }
      }

      & > .UserRow:first-child > div:first-child {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .FormHeader,
  .FormBody {
    width: calc(100vw - 210px);
  }

  .FormBody {
    .User {
      border-radius: 12px;
      padding: 20px;

      .RemoveIcon {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(350px - 22px);
        }

        .SelectWrapper {
          width: 50%;
          max-width: 370px;
        }
      }

      & > .UserRow:first-child > div {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .FormHeader,
  .FormBody {
    width: 910px;
  }

  .FormBody {
    .User {
      border-radius: 24px;
      padding: 40px;

      .RemoveIcon {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
      }

      .UserRow {
        flex-direction: row;

        .Input {
          width: calc(375px - 22px);
        }

        .SelectWrapper {
          width: 50%;
          max-width: 397px;
        }
      }
    }
  }
}