@import "src/assets/scss/colors";

.Header {
  position: sticky;
  top: 74px;
  background: $app-bg;
  opacity: 1;
  z-index: 5;
  padding: 10px 0;

  .First {
    display: flex;
    flex-direction: column;

    .DropdownWrapper {
      //display: flex;
      //flex-direction: column;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;

      .OrganizationLabel {
        display: flex;
        align-items: center;
        background-color: $app-ts;
        height: 45px;
        z-index: 5;
        border-radius: 4px;
        padding: 0 10px;

        // fixme ellipsis not working
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      //& > div:nth-child(2) {
      //  margin-top: 10px;
      //}
    }

    .ModifyButton {
      display: none;
    }

    .Additional {
      margin-top: 5px;

      .Separator {
        display: inline-block;
        width: 3px;
      }
    }
  }

  .Second {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .PaginationWrapper {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .SelectorWrapper {
        margin-left: 10px;
        .Selector {
          background: transparent;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          outline: none;
          padding: 5px 20px;
          color: white;
          text-align: center;

          /* for Firefox */
          -moz-appearance: none;
          /* for Safari, Chrome, Opera */
          -webkit-appearance: none;

          &::-ms-expand {
            display: none;
          }

          & > option {
            color: $app-white;
            background: $app-bg;
          }
        }
      }
    }

    .SearchInputWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .RefreshIcon {
        width: 23px;
        height: 23px;
        cursor: pointer;
      }
    }

    .ConnectedUsersLabel {
      margin-top: 5px;
      display: flex;
      align-items: center;

      font-family: Ubuntu-Regular;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    top: 89px;

    .First {
      .DropdownWrapper {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;

        & > div:nth-child(2) {
          margin-top: 0;
        }
      }

      .Separator {
        width: 20px !important;
      }

      .ModifyButton {
        display: block;
      }
    }

    .Second {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 25px;

      .SearchInputWrapper {
        .RefreshIcon {
          display: none;
        }
      }

      .PaginationWrapper {
        margin-top: 10px;
      }

      .ConnectedUsersLabel {
        font-size: 21px;
        line-height: 24.13px;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .Header {
    .First {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-column-gap: 25px;

      .Additional {
        margin-top: 0;
      }
    }

    .Second {

    }
  }
}
