@import "src/assets/scss/colors";

.Wrapper {
  border-radius: 24px;
  background: $app-ts;

  .InnerWrapper {
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
    padding: 0 24px;
    background: $app-ts;
    color: white;
  }

  .LeftWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 115px 115px;
    grid-column-gap: 20px;
    height: 230px;
  }

  .RightWrapper {
    max-width: 376px;
    height: 115px;
  }
}

.BoxShadow {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .LeftWrapper {
      display: flex;
      height: 115px;

      .Item {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
