@import "src/assets/scss/colors";

.Wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background: $app-bg;
  width: calc(100% - 90px);

  padding: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.65);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 8;

  .Description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .Actions {
    display: flex;

    .Action {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-left: 40px;
      cursor: pointer;
      justify-content: space-between;

      .RIcon {
        width: 22px;
        height: 22px;
        margin-bottom: 15px;
      }

      .ActionIcon {
        width: 25px;
        height: 25px;
        margin-bottom: 15px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    max-width: 892px;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;

    .Description {
      margin-bottom: 0;
    }
  }
}

.Show {
  display: flex;
}

.Hide {
  display: none;
}