@import "src/assets/scss/colors";

.Wrapper {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: calc(100% - 90px);
  transform: translateX(-50%);
  z-index: 10;

  .Notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 25px;
    background: $app-white;
  }
}

.Show {
  display: block;
}

.Hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    justify-content: space-around;
    max-width: 892px;
  }
}