.ReInviteWrapper {
  display: none;
}

.LanguageWrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .ReInviteWrapper {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .LanguageWrapper {
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  .ReInviteWrapper, .LanguageWrapper {
    display: none;
  }
}