// settings menu button
.MenuWrapper {
  position: absolute;
  top: 90px;
  right: 40px;
  bottom: auto;
  display: block;
  z-index: 99;
}

@media only screen and (min-width: 768px) {
  .MenuWrapper {
    position: absolute;
    top: 90px;
    right: 30px;
    display: block;
  }
}

@media only screen and (min-width: 1400px) {
  .MenuWrapper {
    position: absolute;
    top: 50px;
    right: 30px;
    display: block;
  }
}
