@import "src/assets/scss/colors";

@mixin FirstColumn {
  position: sticky;
  left: 0;
  top: auto;
  border-top-width: 1px;
}

.Table {
  border-spacing: 0;
  border-collapse: separate;

  .TableHeader {
    position: sticky;
    top: 0;
    background: $app-bg;
    z-index: 3;

    .ChevronWrapper {
      display: inline-flex;
      width: 30px;
      height: 30px;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      .ChevronIcon {
        width: 12px;
      }
    }
  }

  .TableHeaderRow {
    & > td:first-child {
      border-radius: 0;
    }

    & > td:last-child {
      border-radius: 0;
    }
  }

  .TableRow {
    & > td:first-child {
      border-radius: 10px 0 0 10px;
    }

    & > td:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  .TableCommonRow {
    cursor: pointer;

    .TableHeaderCell {
      padding: 5px 10px;
      text-align: center;
      white-space: nowrap;
      background: $app-list-bg;
      border: 1px solid $app-bg;

      .TableHeaderCellSpan {
        font-size: 18px;
        line-height: 20.13px;
      }
    }

    .HeadCol {
      position: absolute;
      left: 0;
      top: auto;
      width: 280px;
    }

    .UserNameHeader {
      @include FirstColumn;
      z-index: 3;
      opacity: 1;
    }

    .TableCell {
      background: $app-list-bg;
      //padding: 0 10px;
      text-align: center;
      border: 1px solid $app-bg;
      height: 95px;

      font-size: 14px;
      line-height: 21px;

      .Badge {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 100%;
        border-radius: 10px 0 0 10px;

        &.Red {
          background-color: $app-status-at-risk;
        }

        &.Green {
          background-color: $app-status-safe;
        }

        &.Yellow {
          background-color: $app-status-sleep;
        }
      }
    }

    .UserName {
      @include FirstColumn;
      z-index: 2;

      .InnerWrapper {
        display: flex;
        align-items: center;
        padding: 0 10px 0 20px;
      }

      .Avatar {
        display: none;
        width: 62px;
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    .Device {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      height: 65px;

      .Battery {
        margin-top: 10px;
      }
    }
  }
}

.NoNetwork {
  //color: #FF0000;
}

.Connected {
  //color: #47FE7A;
}

.NeverConnected {
  color: #979797;
}

.NoConnection {
  color: #979797;
}

.DeviceOff {
  color: $app-status-at-risk;
}

.Safe {
  color: $app-status-safe;
}

.Elevated {
  color: $app-status-at-risk;
}

.AtRisk {
  color: $app-status-at-risk;
}

.AlertReset {
  color: $app-status-safe;
}

.Gray {
  color: $app-toggle-bg;
}

@media only screen and (min-width: 768px) {
  .Table {
    .TableCommonRow {
      .TableHeaderCell {
        padding: 15px 40px;

        .TableHeaderCellSpan {
          font-size: 21px;
          line-height: 24.13px;
        }
      }

      .TableCell {
        height: 106px;
        //padding: 0 40px;

        font-size: 16px;
        line-height: 24px;

        .Badge {
          width: 20px;
        }
      }

      .UserName {
        .Avatar {
          display: block;
        }

        .InnerWrapper {
          padding: 0 10px 0 30px;
        }
      }
    }
  }
}