@import "src/assets/scss/colors";

.NoConnection {
  color: #979797;
}

.TableCell {
  border: 1px solid $app-bg;
  height: 95px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  background: $app-list-bg;

  .Device {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65px;

    .Battery {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .TableCell {
    height: 106px;

    font-size: 16px;
    line-height: 24px;

    .Badge {
      width: 20px;
    }
  }
}