@import "../../../assets/scss/colors";

.PhoneNumberWrapper {
  .PhoneNumberContainer,
  .PhoneNumberInput {
    border: none;
    height: 50px;
  }

  .PhoneNumberContainer {
    margin-top: 10px;
    width: 100%;
  }

  .PhoneNumberInput {
    font-size: 21px;
    line-height: 24.13px;
    font-family: Ubuntu-Regular, sans-serif;
    background-color: $app-ts;
    color: $app-white;
  }

  .PhoneNumberDropdown {
    background-color: white;
    color: black;
  }
}
