.Wrapper {
  display: inline-flex;

  .Label {
    margin-right: 30px;
  }

  .Icons {
    .Icon {
      width: 25px;
    }

    .Reverse {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .Active {
      cursor: pointer;
    }

    .Disabled {
      cursor: default;
    }
  }
}