@import "src/assets/scss/colors";

.Wrapper {
  padding: 22px 20px;

  .StripeWrapper {
    display: none;
  }

  .Content {
    height: calc(100vh - 17rem);

    .InformationalBoard,
    .RestBar {
      margin-top: 25px;
    }

    .Table {
      overflow-x: auto;
      display: inline-block;
      max-width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    padding: 15px 25px;
  }
}

@media only screen and (min-width: 1400px) {
  .Wrapper {
    padding: 30px 40px;

    .StripeWrapper {
      position: fixed;
      top: 160px;
      right: 0;
      display: block;
      height: calc(100vh - 160px);
      background-image: url("../../../assets/images/stripes.svg");
      background-size: contain;
      background-repeat: repeat-y;
      background-position: right top;
    }
  }
}
