@import "../../assets/scss/colors";

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $app-tf;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  z-index: 100;
  padding: 30px 30px 25px 30px;
  width: 400px;
  max-width: 100%;

  .CloseIcon {
    z-index: 20;
    position: absolute;
    top: 25px;
    right: 25px;
    background: url("../../assets/images/close.svg");
    background-size: cover;
    cursor: pointer;
    width: 45px;
    height: 45px;
  }

  .CloseIconSm {
    width: 32px;
    height: 32px;
  }

  .ModalHeader {

  }

  .ModalSubheader {

  }

  .ModalBody {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .ModalFooter {

  }
}

@media only screen and (min-width: 1400px) {
  .Modal {
    padding: 65px 65px 25px 65px;

    .ModalBody {
      max-width: initial;
      overflow-x: visible;
    }
  }
}