@import "src/assets/scss/colors";

.LangPicker {
  position: absolute;
  display: none;
  z-index: 99;
  height: 55px;

  select {
    //width: 155px;
    height: 55px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    outline: none;
    padding: 0 10px 0 45px;
    background: transparent;
    text-align: center;

    option {
      color: $app-white;
      background: $app-bg;
    }

    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
  }

  /* for IE10 */
  select::-ms-expand {
    display: none;
  }

  .Img {
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: -1;
  }
}

@media only screen and (min-width: 768px) {
  .LangPicker {
  }
}

@media only screen and (min-width: 1024px) {
  .LangPicker {
    display: block;
    top: 80px;
    bottom: auto;
    right: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  .LangPicker {
    top: 40px;
    bottom: auto;
    right: 40px;
  }
}