.Wrapper {
  position: absolute;
  z-index: 99;
  height: 55px;
  top: 140px;
  right: 40px;

  .Label {
    height: 19px;
    padding: 10px 9px 10px 13px;
    border: 1px solid white;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    position: relative;
    top: auto;
    bottom: 0;
    right: auto;
    margin-right: 40px;

    .Label {
      padding: 17px 13px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Wrapper {
    position: absolute;
    top: 80px;
    bottom: auto;
    right: 395px;
  }
}

@media only screen and (min-width: 1400px) {
  .Wrapper {
    position: absolute;
    top: 40px;
    bottom: auto;
    right: 395px;
  }
}